<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="LinqCommerce" type="LinqCommerce.SectionConfigurationGroup">
      <section name="Payment" type="LinqCommerce.SectionConfigurationGroup"/>
      <section name="SiteSettings" type="LinqCommerce.SectionConfigurationGroup"/>
      <section name="AuthorizeNETSettings" type="LinqCommerce.SectionConfigurationGroup"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="GoogleMerchantID" value="asdfasdf"/>
    <add key="GoogleMerchantKey" value="asdfasdf"/>
    <add key="GoogleEnvironment" value="Sandbox"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="BalloonShop" connectionString="Data Source=JOSEPH\SQLEXPRESS;Initial Catalog=BalloonShop;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="BalloonShopConnectionString" connectionString="Data Source=Manthan-PC;Initial Catalog=ASPNETDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <roleManager enabled="true"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <profile>
      <properties>
        <add name="FirstName"/>
        <add name="LastName"/>
        <add name="MiddleName"/>
        <add name="Prefix"/>
        <add name="NickName"/>
        <add name="Address"/>
        <add name="Address2"/>
        <add name="City"/>
        <add name="State"/>
        <add name="Zip"/>
        <add name="Phone"/>
        <add name="Fax"/>
        <add name="Country"/>
        <add name="EMail"/>
        <group name="Billing">
          <add name="FirstName"/>
          <add name="LastName"/>
          <add name="MiddleName"/>
          <add name="Prefix"/>
          <add name="NickName"/>
          <add name="Address"/>
          <add name="Address2"/>
          <add name="City"/>
          <add name="State"/>
          <add name="Zip"/>
          <add name="Phone"/>
          <add name="Fax"/>
          <add name="Country"/>
        </group>
        <group name="Shipping">
          <add name="FirstName"/>
          <add name="LastName"/>
          <add name="MiddleName"/>
          <add name="Prefix"/>
          <add name="NickName"/>
          <add name="Address"/>
          <add name="Address2"/>
          <add name="City"/>
          <add name="State"/>
          <add name="Zip"/>
          <add name="Phone"/>
          <add name="Fax"/>
          <add name="Country"/>
        </group>
      </properties>
    </profile>
    <pages theme="BalloonShopDefault" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <LinqCommerce>
    <Payment>
      <PayPal PayPalEnvironment="sandbox" PayPalEMailAccount="joe@yahoo.com" URLReturn="http://localhost/test/receiptpage.aspx" URLCancel="http://localhost/test/LC3/ShoppingCart.aspx" PayPalHeaderImage="http://www.josephmanderson.com/images/balloonshoplogo.png" UserID="asdfasdf" VendorID="asdfasdf" PayFlowPassword="aasdfasf2" Partner="PayPal"/>
    </Payment>
    <SiteSettings>
      <ShoppingCartSettings RecentProducts="-365" SiteName="BalloonShop" CartPersistDays="10"/>
      <ProductSettings EnableDigitalProducts="true" DigitalCancelURL="http://www.google.com" DigitalReturnURL="http://www.yahoo.com" EnableInventory="true" EnableRecommendedProducts="true" EnableProductReviews="true" EnableWishList="true" ProductImagePath="~/ProductImages/" ImageThumbMaxWidth="75" ImageThumbMaxHeight="75" ImageDetailMaxWidth="225" ImageDetailMaxHeight="225"/>
    </SiteSettings>
    <AuthorizeNETSettings>
      <AuthorizeNET APILogin="asdfasdf" TransactionKey="asdfasdf"/>
    </AuthorizeNETSettings>
  </LinqCommerce>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>